<div ng-controller="MainCtrl as MainCtrl" class="header-menu">
  <span class="nav-toggle" ng-click="MainCtrl.navOpen = !MainCtrl.navOpen;" ng-class="{'active': MainCtrl.navOpen}">
    <span></span>
  </span>
  <ul class="nav nav-pills" ng-class="{'nav-open': MainCtrl.navOpen}">
    <li class="active"><a ng-href="#/Home">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li ng-hide="MainCtrl.currentUser"><a href="#/register">Register </a></li>
    <li ng-hide="MainCtrl.currentUser"><a href="#/login">Login </a></li>
    <li ng-if="MainCtrl.currentUser"><a href="#/home/project">Project </a></li>
    <li ng-if="MainCtrl.currentUser"><a href="#/home/organization">Organization </a></li>
    <li ng-if="MainCtrl.currentUser">
      <div dropdown>              
        <button class="btn-link dropdown-toggle" dropdown-toggle>
          Welcome, {{MainCtrl.currentUser.displayname}} &nbsp<span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#/logout">Log out</a></li>
          <li><a href="#/home/profile">Your profile</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <h3 class="text-muted">ProjectMaster</h3>
</div>
