<div class="current-org" ng-show="OrganizationCtrl.organizations.length">
  <h4>Organizations you are in</h4>
  <div class="" ng-repeat="organ in OrganizationCtrl.organizations">

    <ul class="list-group">
      <li class="list-group-item  list-group-item-success">
        <span class="list-group-item-heading text-uppercase text-h4">{{organ.orgName}}</span>
        <span class="list-group-item-text pull-right">
          Your role <span class="label label-info">{{organ.orgRole}}</span>
        </span>
      </li>
      <li class="list-group-item">
        <form action="" class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-addon">Find existing accounts</div>
              <input type="text" ng-model="newMember" class="form-control">              
            </div>
          </div>
          <button type="button" class="btn btn-default" ng-click="OrganizationCtrl.addMember(organ.orgId, newMember)">Add</button>
        </form>
        <span class="list-group-item-text" ng-show="OrganizationCtrl.addResults">
          {{OrganizationCtrl.addResults}}
        </span>                
      </li>
      <li class="list-group-item">
        <button class="btn-link" ng-click="OrganizationCtrl.getOrgMembers(organ.orgId, $index)">View all members</button>
      </li>
    </ul>
    
    <table class="table table-condensed" ng-show="organ.members">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody  ng-repeat="mem in organ.members">
        <tr>
          <th><button type="button" class="close pull-left" aria-label="Close" ng-click="OrganizationCtrl.openRemoveMemberModal(organ, mem.username, $index)"><span aria-hidden="true">&times;</span></button></th>
          <td>{{mem.username}}</td>
          <td>{{mem.role}} <span class="btn label label-default" ng-if="mem.role==='admin'" ng-click="OrganizationCtrl.revokeAdmin(organ, mem.username, $index)">Revoke</span> <span class="btn  label label-default" ng-if="mem.role==='member'" ng-click="OrganizationCtrl.assignAdmin(organ, mem.username, $index)">Assign Admin</span> </td>
        </tr>
      </tbody>
    </table>
    <small>{{organ.memberTableMsg}}</small>
  </div>
</div>

<div class="new-org"  ng-controller="AddOrganizationCtrl as AddOrganizationCtrl">
  <h4>Create a new Organization</h4>
    <div class="form-group"> 
      <label for="orgName">Organization Name</label>     

      <input type="text" class="form-control" ng-model="newOrg.orgName" id="orgName">

    </div>
    <div class="form-group">
      <label for="orgDescription">Description</label>

      <textarea type="text" rows="8" class="form-control" ng-model="newOrg.description" id="orgDescription">
      </textarea>
    
    </div>
    <div class="form-group">
        <button class="btn btn-primary" 
          ng-click="AddOrganizationCtrl.addNewOrg(newOrg)">
          ADD
        </button>
        <button class="btn btn-default" 
          ng-click="AddOrganizationCtrl.resetSelectedOrg(org.orgId);AddOrganizationCtrl.selected=false;">
          CANCEL
        </button>                 
    </div>
</div>

