<div ng-controller="AddProjectCtrl as AddProjectCtrl">
  <div class="pm-well pm-well-info">
    <h4>Create new Project </h4>
    <p>
      Every project need to be created under one eixsting organization, please click any one of these organization name tags below to start
    </p> 
    <span ng-repeat="org in AddProjectCtrl.organizations">
      
      <span class="label label-default pm-label-link" role="button" ng-click="AddProjectCtrl.setSelectedOrg(org.orgId);AddProjectCtrl.selected=!AddProjectCtrl.selected;" ng-class="  {'label-primary':AddProjectCtrl.selected}">{{org.orgName}}</span>
    </span>
    
  </div>
  <div collapse="AddProjectCtrl.isCollapsed" class="" style="padding-left:20px;">
    <div class="form-group">      
      <div class="input-group col-md-8">
        <div class="input-group-addon" style="width:20%">Project Name</div>
        <input type="text" class="form-control" ng-model="newProject.projectName">
      </div> 
    </div>
    <div class="form-group">
      <div class="input-group col-md-8">
        <div class="input-group-addon" style="width:20%">Description</div>
        <textarea type="text" row="3" class="form-control" ng-model="newProject.description">
        </textarea>
      </div>      
    </div>
    <div class="form-group">
      <div class="input-group col-md-offset-4 col-md-4">
        <button href="" class="btn btn-primary pm-btn-margin" 
          ng-click="AddProjectCtrl.addNewProject(newProject)">
          ADD
        </button>
        <button href="" class="btn btn-default pm-btn-margin" 
          ng-click="AddProjectCtrl.resetSelectedOrg(org.orgId);AddProjectCtrl.selected=false;">
          CANCEL
        </button>                 
      </div>
    </div>
  </div>
  <div class="bg-success pm-block-text" ng-show="AddProjectCtrl.success">
    <span class="glyphicon glyphicon-ok"></span> 
    Project 
    <div class="pm-text-ellipsis">
    <a ng-href="#/home/project/{{AddProjectCtrl.currentProject.projectId}}" class="text-success">{{AddProjectCtrl.currentProject.projectName}}</a>  
    </div>
    has been successfully created, now go to the <a ng-href="#/home/project/{{AddProjectCtrl.currentProject.projectId}}" class="text-info"><u>detail page</u></a> to add tasks.      
  </div>
  <div class="bg-warning pm-block-text" ng-show="AddProjectCtrl.fail">
    <span class="glyphicon glyphicon-warning-sign"></span> {{AddProjectCtrl.fail}}
  </div>

</div>

<div class="" ng-controller="ShowProjectCtrl as ShowProjectCtrl">
  <div class="pm-well pm-well-info">
    <h4>Show projects list </h4>
    <p>Click on any one of organization name tags below to show</p>
    <span ng-repeat="org in ShowProjectCtrl.organizations">
      
      <span class="label label-default pm-label-link" role="button" ng-click="ShowProjectCtrl.loadProjects(org.orgId);ShowProjectCtrl.selected=!ShowProjectCtrl.selected;" ng-class="{'label-primary':ShowProjectCtrl.selected}">{{org.orgName}}</span>
    </span>
     
  </div>
  <div class="" ng-repeat="p in ShowProjectCtrl.projects">
  <div class="list-number">
    <span class="glyphicon-list glyphicon"></span> {{$index+1}}
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      {{p.projectName}}
    </div>
    <div class="panel-body">
      <p> {{p.description}} </p>  
      <p class="text-right"><a ng-href="#/home/project/{{p._id}}" class="btn btn-default btn-small">See details</a></p>
    </div>
  </div>
  </div>
</div>