<div class="modal-header">
  <h4 class="modal-title">Add an new task</h4>
</div>
<div class="modal-body"  stop-event="touchend">
  <label for="">Task name</label>
  <input type="text" class="form-control" ng-model="ModalInstanceCtrl.newNode.taskName">
  <label for="">description</label>
  <textarea name="" id="" cols="30" rows="10" class="form-control" row="3" ng-model="ModalInstanceCtrl.newNode.description"></textarea>

  <div class="row">
    <div class="col-md-6 form-inline">
      <div class="form-group">
        <label>Start date</label>
          <div class="input-group">
                      
          <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="ModalInstanceCtrl.newNode.startDate" is-open="ModalInstanceCtrl.opened" ng-required="true" close-text="Close" datepicker-options="ModalInstanceCtrl.dateOptions">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="ModalInstanceCtrl.openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
          
          </div>
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-inline col-md-8">
      <div class="form-group">
        <label for="">Duration</label>
        <div class="input-group">
          <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="ModalInstanceCtrl.newNode.duration=ModalInstanceCtrl.newNode.duration-1" ng-disable="ModalInstanceCtrl.newNode.duration<1">-</button></span>
          <input type="number" placeholder="Days" class="form-control" ng-model="ModalInstanceCtrl.newNode.duration" ng-init="ModalInstanceCtrl.newNode.duration=0">
          <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="ModalInstanceCtrl.newNode.duration=ModalInstanceCtrl.newNode.duration+1">+</button></span>
          <span class="input-group-addon">End date:  {{ModalInstanceCtrl.enddt(ModalInstanceCtrl.newNode.startDate,ModalInstanceCtrl.newNode.duration)}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ModalInstanceCtrl.add()">Add</button>
  <button class="btn btn-primary" ng-click="ModalInstanceCtrl.cancel()">CANCEL</button>
</div>