<!-- desktop table header -->
<div class="row hidden-xs hidden-sm">  
  <div class="col-md-6">Description</div>
  <div class="col-md-2">Start date</div>
  <div class="col-md-2">Duration</div>
  <div class="col-md-2">
    <div class="icon-edit">
      <span class="glyphicon glyphicon-plus" ng-click="ModalCtrl.open(treeRoot)"></span>
      <span class="glyphicon glyphicon-minus"></span>
    </div>
  </div>
</div>
<!-- mobile table header -->
<div class="tree-header-btn visible-sm-block visible-xs-block">
      <button class="btn btn-default" ng-click="ModalCtrl.open(treeRoot)">Add New</button>
      <button class="btn btn-default">Clear table</button>  
</div>