.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media (min-width: $screen-sm-min) {
  .container {
    max-width: 960px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* login/register page */

.form-container{
  @include container-width(60%);
}
.form-container-wide{
  @include container-width(80%);
}
@media (max-width: $screen-sm-max) {
  .form-container, .form-container-wide {
    width: 100%;
  }
}

fieldset{
  border:1px solid #e5e5e5;
  padding: 0 15px;
  @include border-radius($default-border-radius);
}

legend {
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}

.section-container{
  padding: 0 20px;
}

/* organizations */
.current-org{
  width: 70%;
}

@media (max-width: $screen-sm-max) {
  .current-org {
    width: 100%;

  }
}
.pm-new-project-create {
  padding: 0 15px;
  width: 80%;
  button {
    margin-right: 20px;
  }
}
.pm-new-project, .pm-show-project {
  .pm-label-link {
    margin-right: 15px;
  }
}
@media (max-width: $screen-sm-max) {
  .pm-new-project-create {
    width: 100%;
  }
}

.text-h4{
  font-size: $font-size-h4;
}
.new-org {
  button {
    margin-right: 20px;
  }
}

/* project */
.pm-well{
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.pm-well-info{
  border-left-color: #d9edf7;
}
.pm-label-link{
  cursor:pointer;
}
.pm-btn-margin{
  margin:0 15px;
}
.pm-text-ellipsis{
  width: 12em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: underline;
}
.pm-block-text{
  padding:15px 20px;
}
.list-number{
  padding-left:5px;
  font-size: large;
  font-style: oblique;
}
.pm-dl.dl-horizontal{
  dt{
    text-align: left;
    width:120px;
  }
  dd{
    margin-left: 50px;
  }
}
@media (max-width: $screen-sm-max) {
  .pm-dl.dl-horizontal{
    dt{
      width:auto;
    }
    dd{
      margin-left: 0;
    }
  }
  .editor{
    line-height: 22px;
  }
}

.modal-backdrop {
  height: 100%;
}
