.header {
  
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
  }
}
.header-menu {
  border-bottom: 1px solid #e5e5e5;

  .nav {
    float: right;
  }
}
.header{
  margin-bottom: 30px;
  .nav {
    .dropdown-toggle{
      padding: 8px 15px;
      position: relative;
    }

    .dropdown-menu{
      top: 30px;
      left: 5px;
    }
  }
}

.nav-toggle {
  float: right;
  display: none;
  cursor: pointer;
  position: relative;
  width: 35px;
  height: 35px;

  span, span:before, span:after {
    position: absolute;
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    display: block;
    background-color: #777777;
    content: "";
    transition: all 500ms ease-in-out;
  }
  span {
    right: 0;
    top: 50%;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }

  &.active {

    span {
      background-color: transparent;
    }
    span:before, span:after {
      top: 0;
    }
    span:before {
      transform: rotate(45deg);
    }
    span:after {
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: $screen-xs-max) {
  .header-menu {
    position: relative;
    z-index: 10;

    .nav-toggle {
      display: block;
    }
    .nav {
      position: absolute;
      float: none;
      top: 47px;
      width: 100%;
      text-align: center;
      background-color: white;
      display: block;
      max-height: 0;
      transition: max-height 500ms ease-in;
      overflow: hidden;

      > li {
        float: none;
        border: 1px solid #e5e5e5;
      }

      &.nav-open {
        display: block;
        max-height: 1000px; 
      }
    }
  }
}